# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/.angular
/node_modules
/storybook-static
/apps/mobile/android
/apps/mobile/ios
package-lock.json
CHANGELOG.md

.angular
